.container {
    background-color: rgb(37, 34, 34);
    margin: 0 auto;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.473);
    color: white;
    max-width: 400px;
    padding-bottom: 30px;
}
.topo {
    display: flex;
}
.small-box {
    background-color: rgb(44, 41, 41);
    color: white;
    border-radius: 16px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.342);
    padding: 20px;
    width: 100%;
    margin: 0 10px;
    padding-bottom: 5px;
}
.small-box h5 {
    font-size: 10px;
}
.small-box h2 {
    font-size: 18px;
}
.small-box i {
    margin-top: -10px;
}
.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banca {
    text-align: left;
}
.banca p {
    margin-block-start: 0px;
    margin-block-end: 0px;
}
.numeros div {
    display: inline-flex;
    margin: 0 10px;
}

.win {
    color: yellowgreen;
}

.inputs {
    margin-top: 15px;
    display: flex;
}

.center {
    text-align: center;
}

.inputs p {
    margin-bottom: 2px;
}

.inputs div {
    margin: 0 10px;
}

.inputs p {
    font-size: 11px;
    text-align: center;
}

.ultimo-sorteado input {
    border-radius: 12px;
    border: 2px solid #333;
    padding: 2px 14px;
    font-size: 30px;
    color: white;
    background: transparent;
    font-weight: 700;
    outline: none;
}

input,
input::placeholder {
    font-size: 22px;
}

.ultimo-sorteado button {
    border-radius: 50%;
    border: none;
    padding: 5px 10px;
    position: absolute;
    margin-left: -16px;
    font-size: 22px;
    margin-top: 6px;
    background: #00a3ff;
    color: white;
}

.ultimo-sorteado svg {
    margin-top: -5px;
    margin-left: 3px;
}

.gray input{
    color: #696969;
}

.ultimos-numeros {
    margin-top: 20px;
    padding: 10px 20px;
}

.box-ultimos {
    width: 100%;
    background-color: rgb(44, 41, 41);
    padding: 0px 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.342);
}

.box-ultimos li {
    list-style: none;
    display: inline-flex;
    background-color: transparent;
    color: white;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin: 5px;
    border: 2px solid #ff4500;
    font-weight: 700;
    font-size: 20px;
    width: 42px;
    height: 42px;
    box-shadow: 0px 0px 5px rgb(0 0 0 / 33%);
}

.box-ultimos div {
    margin: 12px 0;
}

.duzias {
    text-align: center;
    margin-top: 15px;
    width: 100%;
}

.duzias div {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: calc(33% - 16px);
    background-color: rgb(37, 37, 37);
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.342);
}

.duzias .titulo {
    padding: 2px 6px;
    border-radius: 10px;
    font-size: 18px;
    width: 100%;
    margin-left: 0px;
    align-items: center !important;
    /* justify-content: space-between !important; */
    margin-bottom: 6px;
}

.duzias .titulo svg {
    margin-top: -4px;
}

.duzias .titulo h2 {
    font-size: 20px;
}

.duzias p {
    padding: 5px;
    margin-top: -5px;
    margin-bottom: 0px;
}

.duzias .titulo p {
    font-size: 12px;
    float: right;
    margin-right: -40px;
    margin-left: 10px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 15px;
}

.footer div {
    margin: 0 20px;
}

.d-selecionada {
    display: inline-flex;   
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(37, 37, 37);
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.342);
}

.d-selecionada p{
    background-color: rgb(0, 47, 255);
    padding: 6px;
    border-radius: 10px;
    font-size:12px;
    margin-left: 0px;
    margin-bottom: 0px;
}

.d-selecionada h1 {
    margin-top: 5px;
    font-weight: 500;
    font-size: 26px;
}

.valor-entrada {
    border: 1px solid #fff;
    background: transparent;
    border-radius: 20px;
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 5px 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.342);
}

.box-ultimos strong {
    position: absolute;
    margin-left: -56px;
    border-radius: 50%;
    background: #ff4500;
    width: 20px;
    height: 20px;
    font-size: 12px;
    text-align: center;
}

.bg-win p {
    background-color: #00b733;
    border-radius: 10px;
    padding: 10px;
}

.bg-loss p {
    background-color: #fd0000;
    border-radius: 10px;
    padding: 10px;
}

.placar h2 {
    font-size: 14px;
}

.placar {
    width: 100%;
    margin-left: 20px !important;
}

.placar div {
    width: 50%;
    text-align: center;
}

.placar p {
    font-size: 18px;
    font-weight: bold;
}

.box-ultimos ul {
    margin-top: 0px !important;
    padding-left: 0px !important;
    text-align: center;
}

.flex {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.titulo {
    flex-direction: row !important;
}

.nao_selecionado {
    background-color: #696969 !important;
}

.selecionado {
    background-color: #00b733 !important;
}

.entradas {
    background-color: #444444 !important;
    width: 100% !important;
    font-size: 13px;
    padding: 2px 0px;
}

.confirma {
    background-color: #00a040;
    border-radius: 20px;
    color: white;
    padding: 3px 15px;
    margin-top: 15px;
    outline: none;
    border: none;
}

.operacoes .titulo {
    background-color: #00a3ff;
    justify-content: center !important;
}

.operacao svg {
    position: absolute;
    margin-left: -40px;
    margin-top: -2px !important;
}

.logo {
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Hide arrows type number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.usuario {
    display: inline-flex;
    flex-direction: column;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.assinatura {
    font-weight: bold;
}

.reload {
    font-size: 18px;
    float: right;
    margin-top: 15px;
}

.teste-numero textarea, .teste-numero input {
    border: none;
    padding: 6px 14px;
    background-color: #111;
    color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 5px #000;
    text-align: center;
    margin-bottom: -12px;
    display: inline-table;
    overflow: hidden;
}

.teste-numero h3 {
    margin-top: 22px;
}
.teste-numero input {
    float: right;
    margin-top: -5px;
}

.bancaUsu {
    outline: none;
    display: inline-block;
    width: 105px;
    background: transparent;
    border: none;
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-left: -3px;
}

.bancaUsu::placeholder {
    color: white;
}

.button-container {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    margin-top: 20px;
  }
  .button-container .button {
    position: relative;
    border: 3px solid #9b9c9b;
    height: 25px;
    width: 50px;
    margin-right: 5px;
    border-radius: 40px;
  }
  .button-container.on .button {
    border-color: #0dcaf0;
  }
  .button-container .button:before {
    content: '';
    position: absolute;
    height: 21px;
    width: 20px;
    background-color: #9b9c9b;
    border-radius: 38px;
    top: 50%;
    transform: translateY(-50%);
    left: 1px;
    transition: left .3s linear;
  }
  .button-container.on .button:before {
    background-color: #0dcaf0;
    left: 24px;
  }
  
  .button-container .text {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 16px;
    color: #9b9c9b;
  }
  .button-container.on .text {
    color: #0dcaf0;
  }
  .button-container:not(.on) .text .on {
    display: none;
  }
  .button-container.on .text .off {
    display: none;
  }

  .onoffswitch {
    position: relative; width: 155px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select: none;
    margin-top: 15px;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 12px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Modo operação";
    padding-left: 10px;
    background-color: #00b733; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "Modo teste";
    padding-right: 10px;
    background-color: #fd0000; color: #FFFFFF;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 46px; margin: 2px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 101px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}